<div mat-subheader>FoodApp</div>
<mat-list-option>
    <mat-icon mat-list-icon> local_dining</mat-icon>
    <p mat-line>All recipes</p>
</mat-list-option>
<mat-divider></mat-divider>
<mat-list-option>
    <mat-icon #bfk mat-list-icon>brightness_5</mat-icon>
    <p mat-line>Breakfast</p>
</mat-list-option>
<mat-divider></mat-divider>
<mat-list-option>
    <mat-icon #lunch mat-list-icon>brightness_7</mat-icon>
    <p mat-line>Lunch</p>
</mat-list-option>
<mat-divider></mat-divider>
<mat-list-option>
    <mat-icon mat-list-icon>brightness_4</mat-icon>
    <p mat-line>Dinner</p>
</mat-list-option>
<mat-divider></mat-divider>
<mat-list-option>
    <mat-icon mat-list-icon>widgets</mat-icon>
    <p mat-line>Desserts</p>
</mat-list-option>
<mat-divider></mat-divider>
<mat-list-option>
    <mat-icon mat-list-icon> local_drink</mat-icon>
    <p mat-line>Drinks</p>
</mat-list-option>