<form class="form">
    <mat-form-field class="form__field" appearance="fill">
        <mat-label>What's in your fridge? Ex. tomatoes </mat-label>
        <input type="text" [formControl]="filter" matInput >
    </mat-form-field>
</form>
<div *ngIf="recipes$ | async as recipe; else loading" class="recipes" > 
<mat-card class="recipes__card" *ngFor="let recipe of filteredRecipe$ | async" >
    <mat-card-title-group >
        <mat-card-title  >{{ recipe.title}}</mat-card-title>
        <mat-card-subtitle>{{ recipe.meal}}
        </mat-card-subtitle>
        <mat-card-subtitle>{{ recipe.ingredients}}</mat-card-subtitle>
        <img mat-card-md-image [src]="recipe.img">
    </mat-card-title-group>
    
    <mat-card-content>
        <h2>Preparation</h2>
        <p>Preparation: {{ recipe.preparation}}</p>
    </mat-card-content>
    <mat-card-actions class="recipes__card-actions">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header  (click)="editRecipe(recipe)" >
                    <div class="button"><p>EDIT</div>
                </mat-expansion-panel-header>
                
                    <form class="card__form" [formGroup]="recipeForm">
                        <div>
                            <mat-form-field class="card__form-field" appearance="fill">
                                <mat-label>Title</mat-label>
                                <input type="hidden" formControlName="id">
                                <input type="text" formControlName="title" placeholder="Ex. Title" matInput required>
                                <mat-error>Title is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="card__form-field" appearance="fill">
                                <mat-label>Image link</mat-label>
                                <input type="text" formControlName="img" placeholder="Ex. https://pexels" matInput >
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="card__form-field" appearance="fill">
                                <mat-label>Ingredients</mat-label>
                                <textarea formControlName="ingredients" placeholder="Ex. 1 tomato, 2 eggs" matInput required></textarea>
                                <mat-error>Ingredients are required</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="card__form-field" appearance="fill">
                                <mat-label>Preparation</mat-label>
                                <textarea formControlName="preparation" placeholder="Ex. Prepare" matInput required></textarea>
                                <mat-error>Preparation is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="card__form-field"  appearance="fill">
                                <mat-label>Select a meal type</mat-label>
                                <mat-select disableRipple formControlName="meal">
                                    <mat-option *ngFor="let mealType of mealTypes" value={{mealType}}>
                                        {{mealType}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Meal type is required</mat-error>
                            </mat-form-field>
                        </div>
                        <mat-dialog-actions class="button">
                            <button  type="button" (click)="updateRecipe()" [disabled]="recipeForm.invalid" mat-raised-button color="accent">Update</button>
                        </mat-dialog-actions>
                    </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-actions>
    <div class="btn">
        <button mat-stroked-button class="button" (click)="deleteRecipe(recipe)" mat-button>DELETE </button>
    </div>
</mat-card>
</div>

<ng-template #loading>
    <mat-spinner mode="indeterminate"></mat-spinner>
    LOADING...
</ng-template>