<h2>Search All Lessons</h2>
<mat-form-field>
<input matInput [formControl]="filter" placeholder="Search" />
</mat-form-field>

<button class="search" mat-raised-button color="primary" >
    <mat-icon>search</mat-icon>
    Search
</button>


    <mat-card class="recipes__card" *ngFor="let recipe of filteredStates$ | async">
        <mat-card-title-group>
            <mat-card-title>{{ recipe.title}}</mat-card-title>
            <mat-card-subtitle>{{ recipe.meal}}
            </mat-card-subtitle>
            <mat-card-subtitle>{{ recipe.ingredients}}</mat-card-subtitle>
            <img mat-card-md-image [src]="recipe.img">
        </mat-card-title-group>
    
        <mat-card-content>
            <h2>Preparation</h2>
            <p>Preparation: {{ recipe.preparation}}</p>
        </mat-card-content>
       
    </mat-card>

