<h2 mat-dialog-title>Install Angular</h2>

    <button mat-button mat-dialog-close>Cancel</button>


<form class="card__form" [formGroup]="recipeForm" >
    <h1 class="card__form-title">Add a recipe</h1>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" formControlName="title" placeholder="Ex. Title" matInput required>
            <mat-error>
                Title is required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Ingredients</mat-label>
            <textarea formControlName="ingredients" placeholder="Ex. 1 tomato, 2 eggs" matInput required></textarea>
            <mat-error>
                Ingredients are required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Preparation</mat-label>
            <textarea formControlName="preparation" placeholder="Ex. Prepare" matInput required></textarea>
            <mat-error>
                Preparation is required
            </mat-error>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select a meal type</mat-label>
            <mat-select disableRipple formControlName="meal" >
                <mat-option *ngFor="let mealType of mealTypes" value="meal">
                    {{mealType}}
                </mat-option>
            </mat-select>
            <mat-error>
                Meal type is required
            </mat-error>
        </mat-form-field>
    </div>

    <mat-dialog-actions>
        <button mat-button color="warn">Delete</button>
        <button type="submit" [disabled]="recipeForm.invalid" mat-raised-button color="accent" (ngSubmit)="saveRecipe()">Save</button>
    </mat-dialog-actions>
</form>