
<form class="card__form" [formGroup]="editForm">
    <div class="card__form-scroll"></div>
    <div class="card__form-overflow">
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" formControlName="title" placeholder="Ex. Title" matInput required>
            <mat-error>Title is required</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Image link</mat-label>
            <input type="text" formControlName="img" placeholder="Ex. https://pexels" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Ingredients</mat-label>
            <textarea formControlName="ingredients" placeholder="Ex. 1 tomato, 2 eggs" matInput required></textarea>
            <mat-error>Ingredients are required</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Preparation</mat-label>
            <textarea formControlName="preparation" placeholder="Ex. Prepare" matInput required></textarea>
            <mat-error>Preparation is required</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Select a meal type</mat-label>
            <mat-select disableRipple formControlName="meal">
                <mat-option *ngFor="let meal of meals" value="{{meal}}">
                    {{meal}}
                </mat-option>
            </mat-select>
            <mat-error>Meal type is required</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="card__form-btn">
        <button mat-raised-button (click)="close()">
            Close
        </button>
        <button (click)="editRecipeCard()" [disabled]="editForm.invalid" mat-raised-button
            color="accent">Update</button>
    </div>
</form>