.recipes {
    columns: 3;
    gap: 1rem;
    &__card,
        .grid {
            break-inside: avoid;
            margin-bottom: 1rem;
        }
}

@media screen and (max-width: 1100px) {
    .recipes {
        columns: 1;
        &__img{
                width: 8rem;
                height: 8rem;
            }
    }
}