<div class="card" >
<form class="card__form" [formGroup]="recipeForm" >
    <mat-card class="card__form-alert" *ngIf="showMessage" >
        <h2 class="card__form-alert-text">Recipe has been saved!</h2>
        <mat-icon (click)="onClose()">close</mat-icon>
    </mat-card>
    <h1 class="card__form-title">Add a new recipe</h1>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text"  formControlName="title" placeholder="Ex. Title" matInput required>
            <mat-error>
                Title is required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Ingredients</mat-label>
            <textarea formControlName="ingredients" placeholder="Ex. 1 tomato, 2 eggs" matInput required></textarea>
            <mat-error>
                Ingredients are required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Preparation</mat-label>
            <textarea formControlName="preparation" placeholder="Ex. Prepare" matInput required></textarea>
            <mat-error>
                Preparation is required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill">
            <mat-label>Image link</mat-label>
            <input type="text" formControlName="img" placeholder="Ex. https://pexels" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="card__form-field" appearance="fill" >
            <mat-label>Select a meal type</mat-label>
            <mat-select formControlName="meal" required>
        
                <mat-option value="BREAKFAST">
                    Breakfast
                </mat-option>
                <mat-option value="LUNCH">
                    Lunch
                </mat-option>
                <mat-option value="DINNER">
                    Dinner
                </mat-option>
                <mat-option value="DESSERTS">
                    Desserts
                </mat-option>
                <mat-option value="DRINKS">
                    Drinks
                </mat-option>
        
            </mat-select>
            <mat-error>
                Meal type is required
            </mat-error>
        </mat-form-field>
    </div>

    <mat-dialog-actions class="card__form-btn">
        <button type="button" (click)="saveRecipeCard()" [disabled]="recipeForm.invalid" mat-raised-button color="accent">Save</button>
    </mat-dialog-actions>
</form>
</div>